{{ define "patient_index" }} 
  <header>
	  <p>Patients</p>
  </header>
   <table class="table is-fullwidth is striped">
     <thead>
       <td>First Name</td>
       <td>Last Name</td>
       <td>State</td>
       <td>Country</td>
       <td>Actions</td>
     </thead>
   {{range .}}
     <tr>
       <td>{{.First_Name}}</td>
       <td>{{.Last_Name}}</td>
       <td>{{.State}}</td>
       <td>{{.Country}}</td>
       <td><a href="/admin/patients/{{.Id}}">view</a></td>
     </tr>
   {{ end }} 
   </table>
{{end}}
